<p>----- habit-main -----</p>
<div>back button</div>
<div>edit button</div>
<ng-container *ngIf="habit() as h; else habit_error">
  <h1>{{ h.title }}</h1>
  <div class="habit-main" id="habit-users">
    <div class="user" id="guest-user">user 1: {{ h.user1?.username }}</div>
    <div class="user" id="home-user">
      user 2: {{ h.user2?.username || null }}
    </div>
  </div>
  <div class="habit-main" id="habit-tracker">
    <app-habit-tracker [pastDays]="h.habitDays"></app-habit-tracker>
  </div>
  <app-streak-counter
    [streak]="h.streakCounter"
    [total]="h.totalDaysHabitCompleted"
  ></app-streak-counter>
</ng-container>
<ng-template #habit_error
  ><p>Oops! There was an error getting the habit</p></ng-template
>
