<p>----- habit-main -----</p>
<div>back button</div>
<div>edit button</div>
<ng-container *ngIf="habit() as h; else habit_error">
  <h2>logged in as {{ loggedInAsValue }}</h2>
  <h1>{{ h.title }}</h1>
  <div class="habit-main" id="habit-users">
    <div class="user" id="guest-user" *ngIf="partnerUser() as user">
      guest user: {{ user.username }}
    </div>
    <div class="user" id="home-user" *ngIf="loggedInUser() as user">
      home user: {{ user.username }}
    </div>
  </div>
  <div class="habit-main" id="habit-tracker">
    <app-habit-tracker
      [pastDays]="h.habitDays"
      [loggedInUserDetails]="loggedInUser()"
      [loggedInUser]="loggedInAsValue"
      [partnerUser]="partnerUser()"
    ></app-habit-tracker>
  </div>
  <app-streak-counter
    [streak]="h.streakCounter"
    [total]="h.totalDaysHabitCompleted"
  ></app-streak-counter>
</ng-container>
<ng-template #habit_error
  ><p>Oops! There was an error getting the habit</p></ng-template
>
