@for(habitDay of pastDays(); track habitDay._id){
<div class="habit-day" [id]="habitDay._id">
  <p id="date">{{ habitDay.date | date : "MMM d, y" }}</p>
  <input
    type="checkbox"
    id="guest-user"
    name="habit"
    [checked]="habitDay.user1Complete"
    disabled
  />
  <div class="line" id="guest-user">-------</div>
  <input
    type="checkbox"
    id="both-users"
    name="habit"
    [checked]="habitDay.user1Complete && habitDay.user2Complete"
    disabled
  />
  <div class="line" id="home-user">-------</div>
  <input
    type="checkbox"
    id="home-user"
    name="habit"
    [checked]="habitDay.user2Complete"
    disabled
  />
</div>
}
